@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: url(/public/Assests/body_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Archivo',
  sans-serif;
  color: #0D0152;
  margin-bottom: 2rem;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  border: 2px solid #0D0152;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(176, 238, 235, 0.7);
  box-shadow: #fffeff 0px 5px 15px;
  width: 60%;
  margin: auto;
  text-align: center;
  border: 2px solid rgb(50, 7, 150);
  padding: 1rem;
  border-radius: 5px;
}

.scrollable {
    height: auto;
    max-height: 80vh;
    overflow: auto;
}

ul {
    list-style: none;
    margin: 1rem 2rem;
}

ul li {
  border: 2px solid #0D0152;
  background-color: rgba(216, 214, 211, 0.7);
  padding: 1rem;
  margin: 1rem 0;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Archivo',
    sans-serif;
}

.btn {
  font-family: 'Archivo',
    sans-serif;
  border: 2px solid currentColor;
  border-radius: 2rem;
  color: #0D0152;
  font-size: 1rem;
  font-weight: 100;
  overflow: hidden;
  padding: 0.5rem 2rem;
  margin-bottom: 0.5rem;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.btn::after {
  background-color: #0D0152;
  border-radius: 2rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: .2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.btn:hover::after {
  transform: translate(0, 0);
}

.btn:hover {
  border: 2px solid transparent;
  color: rgb(255, 255, 255);
  transform: scale(1.05);
  will-change: transform;
}


ul li:hover {
  box-shadow: #0D0152 0px 5px 15px;
}

#result-container {
  display: flex;
  width: 80%;
  height: 60%;
  margin: auto;
  gap: 2rem;
}

.scoretitle {
  text-align: left;
  padding-left: 1rem;
  color: #0D0152;
  font-family: 'Archivo',
    sans-serif;
  font-size: 1rem;
}