* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(217, 230, 236);
}

.centered {
    width: 80%;
    margin: auto;
    text-align: center;
    border: 2px solid rgb(50, 7, 150);
    padding: 1rem;
    border-radius: 5px;
}

.dashboard {}

.scrollable {
    height: auto;
    max-height: 80vh;
    overflow: auto;
}

ul {
    list-style: none;
    margin: 1rem 2rem;
}

ul li {
    border: 2px solid rgb(49, 193, 250);
    padding: 1rem;
    margin: 1rem 0;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
}

.btn {
    background: rgb(235, 235, 10);
    padding: 0.5rem 2rem;
    margin: 0.5rem 0;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover,
ul li:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    ;
}

#result-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin: auto;
    gap: 2rem;
}

#result-container h3 {
    font-size: 16px;
    margin: 0.5rem;
}

p {
    font-size: 12px;
    margin: 0.5rem;
}

.answer-container {
    width: 50%;
    margin-top: 0.5rem;
}

.answer-wrapper {
    margin: 1rem;
    border: 1px solid rgb(170, 169, 169);
    border-radius: 0.5rem;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(46, 45, 45, 0.5);
}

.result-centered {
    background-color: antiquewhite;
}